<!DOCTYPE html>
{% load navigation %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}Gareth Senior{% endblock %}</title>
	<meta name="author" content="Gareth Senior">
	<meta name="description" content="{% block meta_description %}The site of Gareth Senior. Don't expect too much and you won't be disappointed{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}gareth senior huddersfield holmfirth netherthong developer javascript yorkshire capital radio{% endblock %}">
{% block js_includes %}

{% endblock %}
{% block css_includes %}

{% endblock %}
{% block extra_head %}

{% endblock %}

</head>
<body>
<div id="page">
    <header>
        {% ifequal request.path '/' %}
        <h1 id="site_title">Gareth Senior</h1>
        {% else %}
        <p id="site_title">Gareth Senior</p>
        {% endifequal %}
        <p>Seeking distractions from boredom. Hoping to be intrigued.</p>
    </header>

{% render_navigation %}

    <div id="content">
        {% block content %}
        
        {% endblock %}        
    </div>
    
    <footer>
        {% block footer %}
        
        {% endblock %}        
    </footer>
</div>

</body>
</html>