<!DOCTYPE html>
{% load navigation class_helpers %}
<html lang="en">
<head>
	<title>{% block title %}Gareth Senior{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Gareth Senior">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metatags %}
    {% endblock %}
{% ifequal request.path '/' %}
    <meta name="description" content="The site of Gareth Senior. Don't expect too much and you won't be disappointed">
	<meta name="keywords" content="gareth, senior, developer, javascript, python, radio, technical, frontend, fullstack, engineer">
{% comment %}TODO: opengraph metadata{% endcomment %}
{% endifequal %}

{% block js_includes %}

{% endblock %}

{% block css_includes %}
<style>
body, header {
    background-image: url('/assets/img/horse.jpg');
    background-size: 2048px 1367px;
    background-position: center -200px;
    background-attachment: fixed;
}
</style>
<link href="/assets/css/bootstrap-responsive-2.3.2.css" rel="stylesheet">
<link href="/assets/css/gareth53.css" rel="stylesheet">
<link href="/assets/css/skip_links.css" rel="stylesheet">
{% endblock %}
{% block extra_head %}

{% endblock %}
<style type="text/css">
#container header {
    background:#999 url(../header/g53_header1.jpg);
}
</style>
</head>
<body class="{% body_class %}">
<ul id="skip_links">
    <li><a id="skip_links__nav" href="#nav_links">skip to nav</a></li>
    <li><a id="skip_links__content" href="#content">skip to content</a></li>
</ul>
<div id="wrap">
    <div class="container">
        <header>
            {% ifequal request.path '/' %}
            <h1 id="site_title">Gareth Senior</h1>
            {% else %}
            <p id="site_title">Gareth Senior</p>
            {% endifequal %}
            <p id="tagline">
                Developer, Pythonista, Runner, Yorkshireman
                <span class="hidden">, Gentleman, Dog Walker, Prestidigiteur, Reader, Technologist, Icelandophile, HTFC Fan, Optimist, All-Round Good Egg</span>
            </p>
        </header>

        {% render_navigation %}

        <div id="content">
            {% block content %}
        
            {% endblock %}        
        </div>
    
        <footer>
            {% block footer %}
        
            {% endblock %}        
        </footer>
    </div>
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit">
        &copy; {{ now|date:"Y" }} Gareth Senior
    </p>
  </div>
</div>

</body>
</html>