
<h2>Other blog posts</h2>
<ul>
	<li><a href="/blog/2008/">2008</a> (12)
			<ul>
				<li><a href="/blog/2008/dec/">December</a> (1)
					<ul>
						<li><a href="/blog/2008/dec/blah-blah-blah-blah">This is the title of the post what goes here</a></li>
						<li><a href="/blog/2008/nov/">Another post with a pithy title</a></li>
						<li><a href="/blog/2008/oct/">Some post blog title here</a></li>
					</ul>
				</li>
				<li><a href="/blog/2008/nov/">November</a> (1)</li>
				<li><a href="/blog/2008/oct/">October</a> (1)</li>
				<li><a href="/blog/2008/sep/">September</a> (1)</li>
				<li><a href="/blog/2008/aug/">August</a> (1)</li>
				<li><a href="/blog/2008/jul/">July</a> (1)</li>
				<li><a href="/blog/2008/jun/">June</a> (1)</li>
				<li><a href="/blog/2008/may/">May</a> (1)</li>
				<li><a href="/blog/2008/apr/">April</a> (1)</li>
				<li><a href="/blog/2008/mar/">March</a> (1)</li>
				<li><a href="/blog/2008/feb/">February</a> (1)</li>
				<li><a href="/blog/2008/jan/">January</a> (1)</li>
			</ul>
	</li>
	<li><a href="/blog/2007/">2007</a> (14)</li>
	<li><a href="/blog/2006/">2006</a> (10)</li>
</ul>