{% ifnotequal posts.num_pages 1 %}

<div class="pagination pagination-small pagination-centered">
<ul>
{% if posts.has_previous %}<li><a href="{{ posts.previous_page_number }}.html" class="previous">Previous</a></li>{% endif %}
{% for num in posts.page_range %}
    {% if num %}
        <li{% ifequal num posts.page_num %} class="disabled"{% endifequal %}><a href="{{ num }}.html">{{ num }}</a></li>
    {% endif %}  
{% endfor %}
{% if posts.has_next %}<li><a href="{{ posts.next_page_number }}.html" class="next">Next</a></li>
{% endif %}
</ul>
</div>
{% endifnotequal %}