{% extends "blog/base.html" %}
{% load blog_categories %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block metaDescription %}Gareth Senior's blog: Recent posts: {% for post in latest_posts %}'{{post.title}}'{% if not last %}, {% endif %}{%endfor%}{% endblock %}

{% block content %}

<div class="row">

    <div class="span8">
    	<h1>
    		{{pageTitle}}{{firstPost.pub_date|date:"F \, Y"}} 		
    	</h1>
        {% include "blog/_post_fragment_list.html" %}
    </div>

    <div class="span4">
    	{% blog_categories %}
    </div>

</div>

{% endblock %}