{% extends "blog/base.html" %}
{% load blog_categories %}

{% block title %}{{this_post.title}} | Blog{% endblock %}

{% block metaDescription %}

Blog post: {{ this.post.title }} posted by Gareth Senior ({{this_post.title}})

{% endblock %}

{% block bodyId %}blog-post{% endblock %}

{% block bodyClass %}{{block.super}} article col2{% endblock %}

{% block content %}
<div class="row">


	<div class="span8">

        <h1>{{ this_post.title }}</h1>
        <p class="date">{{this_post.pub_date|date:"g:ia, D j"}} <a href="/blog/{{this_post.pub_date|date:"Y"}}/{{this_post.pub_date|date:"m"}}/">{{this_post.pub_date|date:"M"}}</a> <a href="/blog/{{this_post.pub_date|date:"Y"}}/">{{this_post.pub_date|date:"Y"}}</a></p>


        {{ this_post.body_html|safe }}


    </div>


	<div class="span4">

		<h2>Latest Posts</h2>
		{% include "blog/_post_fragment_list.html" %}

		{% blog_categories %}

	</div>

</div>

{% endblock %}