{% extends 'root.html' %}

{% block content %}


{% if sources %}
    <div class="sources">
        <h2>Sources</h2>
        <ul>
            {% for source in sources %}
            <li><a href="{{ source.get_absolute_url }}">{{ source.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if grouped_items %}
        <ul>
        {% for day in grouped_items %}
            <li>
            <section>
                <p>{{ day.date|date:"D d M Y" }}</p>
                <ul>
                {% for source in day.sources %}
                    <li><a href="{{ source.source.get_absolute_url }}">{{ source.source.name }}</a>
                        <ul>
                            {% for item in source.items %}
                            <li>
                                <h3>
                                    {{ item.pub_date|date:"g:iA"|lower }} - 
                                    {% if item.slug %}<a href="{{ item.slug }}">{% endif %}
                                        {{ item.title }}
                                    {% if item.slug %}</a>{% endif %}
                                </h3>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </section>
            </li>
        {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if curr_page.has_previous %}
                    <a href="?page={{ curr_page.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ curr_page.number }} of {{ paginator.num_pages }}.
                </span>

                {% if curr_page.has_next %}
                    <a href="?page={{ curr_page.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        <p>No items to display.</p>
    {% endif %}

{% else %}
    <p>No feeds to display.</p>
{% endif %}


{% endblock content  %}