{% extends 'root.html' %}
{% load url_filters %}


{% block content %}
<div class="row">
    <div class="span8">
    <article>
    <h1>{{ source.name }}</h1>

    {% if source.description %}
    <p>
        {{ source.description }}
    </p>
    {% endif %}

    <ul class="source_details">
        {% if source.last_update %}<li>Updated: {{ source.last_update }}</li>{% endif %}
        {% if source.profile %}<li>Profile: <a href="{{ source.profle }}">{{ source.profile|url_for_display }}</a></li>{% endif %}
        {% if source.website %}<li>Site: <a href="{{ source.website }}">{{ source.website|url_for_display }}</a></li>{% endif %}
    </ul>

    {% if items %}
    {% if source.last_check %}
        <p>Last check: {{ source.last_check }}</p>
    {% endif %}
    {% ifequal grouping 'daily' %}
        <ul>
            {% for item in items %}
                {% ifchanged item.pub_date|date:"y-d-m" %}
                    {% if not forloop.first %}</ul></li>{% endif %}
                    <li>{{ item.pub_date|date:"" }}
                        <ul>
                {% endifchanged %}
                    <li>{% if item.slug %}
                        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                        {% else %}
                            {% if item.url %}
                                <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        {% endif %}
                        ({{ item.pub_date|date:"h:i A"|lower }})</li>
            {% endfor %}
        </ul>
    {% else %}
    <ul>
        {% for item in items %}
            <li>{% if item.slug %}
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                {% else %}
                                    {% if item.url %}
                                        <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                                    {% else %}
                                        {{ item.title }}
                                    {% endif %}
                                {% endif %}
                                ({{ item.pub_date|date:"h:i A"|lower }})</li>
        {% endfor %}
    </ul>
    {% endifequal %}

        {% if curr_page.has_next %}
            <div class="pagination">
                <span class="step-links">
                    {% if curr_page.has_previous %}
                        <a href="?page={{ curr_page.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ curr_page.number }} of {{ paginator.num_pages }}.
                    </span>

                    {% if curr_page.has_next %}
                        <a href="?page={{ curr_page.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    {% else %}
        <p>No items retrieved from this source.</p>
    {% endif %}
    </article>
    </div>
    <div class="span4">

    </div>
</div>

{% endblock %}